.password-label {
    width: 90%;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: none;
    transition: background 0.2s, border-color 0.2s;
    transition-delay: 0s, 0s;

    &__input {
        width: 90%;
        all: unset;
        cursor: pointer;
        display: inline;
        border: 0px;
        margin-right: 10px;
        box-shadow: none;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.88);
        transition: background 0.2s, border-color 0.2s;
        transition-delay: 0s, 0s;
    }
}

.ant-table-row:hover > .ant-table-cell > .ant-row > .password-label {
    background-color: rgb(250, 250, 250);
}

.ant-table-row:hover > .ant-table-cell > .ant-row > .password-label > .password-label__input {
    background-color: rgb(250, 250, 250);
}