# Local docker backend
#VITE_BACKEND_HOST=http://oxygen.local
# VITE_ASSETS_PATH_FROM_PROJECT=assets

# Sandbox
#VITE_BACKEND_HOST=https://sandbox.site.com
# VITE_ASSETS_PATH_FROM_PROJECT=assets

# Production
#VITE_BACKEND_HOST=https://site.com
# VITE_ASSETS_PATH_FROM_PROJECT=assets
